In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt

In [2]:
filename = "ds1.2022.xlsx"
data = pd.read_excel(filename,
                     index_col = [2,0],
                     header = [0],
                     sheet_name = "GDP_1270-1700")
rename = {"Real GDP (1700 =100)": "RGDP",
         "Nominal GDP (min £)":"NGDP",
         "Price Index (1700=100)":"Price Index"}
data = data.dropna(how="all", axis = 1).rename(columns = rename)
data

                                 RGDP Unnamed: 3 Unnamed: 4  \
                  Year
Industry          NaN     Agriculture   Services        GDP
                  NaN             NaN        NaN        NaN
28.15184075443832 1270.0    64.596764  37.005158  40.581988
27.38256137163947 1271.0    63.922771  37.409915  40.160298
27.72286130070069 1272.0    69.028877  37.512954   41.66774
...                               ...        ...        ...
92.8611848755869  1696.0   101.424439  94.071804  95.534486
91.21385264404212 1697.0   100.486028  94.853147  94.853405
95.46987904503563 1698.0    101.57417   97.08571   97.61639
95.39606812326038 1699.0    87.481182  97.993733  94.114229
100               1700.0          100        100        100

                          Nominal GDP (mln £)  Price Index  Unnamed: 9  \
                  Year
Industry          NaN                     NaN  Agriculture    Industry
                  NaN                     NaN          NaN         NaN
28.15184075443832 1270.0             4.440546    17.789079   15.346818
27.38256137163947 1271.0             4.790300    20.684271   14.957209
27.72286130070069 1272.0             4.963715    23.480587   13.361422
...                                       ...          ...         ...
92.8611848755869  1696.0            64.545032     111.5497  101.024621
91.21385264404212 1697.0            66.528233   114.972729   107.42597
95.46987904503563 1698.0            70.110125   126.330362  105.548258
95.39606812326038 1699.0            63.396924   117.291116   97.533565
100               1700.0            65.926226          100         100

                         Unnamed: 10   Unnamed: 11
                  Year
Industry          NaN       Services  GDP Deflator
                  NaN            NaN           NaN
28.15184075443832 1270.0   16.687132     16.597583
27.38256137163947 1271.0   17.621449     18.092876
27.72286130070069 1272.0   14.348568     18.069606
...                              ...           ...
92.8611848755869  1696.0   96.795322    102.481255
91.21385264404212 1697.0   97.886134     106.38854
95.46987904503563 1698.0   98.818626    108.943113
95.39606812326038 1699.0   95.562654    102.177361
100               1700.0         100           100

[433 rows x 8 columns]