## Project 2 - Working with Lists

In [1]:
empty_list = []
empty_list

[]

In [2]:
int_list = [1,2,3,4,5]
int_list, type(empty_list)

([1, 2, 3, 4, 5], list)

In [3]:
float_list = [1.,2.,3.,4.,5.]
float_list, type(float_list)

([1.0, 2.0, 3.0, 4.0, 5.0], list)

In [4]:
string_list = ["Many Words", "impoverished meaning"]
string_list, type(string_list)

(['Many Words', 'impoverished meaning'], list)

In [5]:
mixed_list = [1, 2., "Mix it Up"]
mixed_list, type(mixed_list)

([1, 2.0, 'Mix it Up'], list)

## Concantenation: Lists

In [6]:
[1] + [2]

[1, 2]

In [7]:
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [8]:
# similar to concantenating strings

str1 = "1"
str2 = "2"
join_strs = str1 +str2
join_strs

'12'

## For Loops

for loop using in range will cycle through variable i from integer j to k - 1 by increments for 1 for
for i in range (j, k, l):
    execute script

In [9]:
for i in range(1, 10 ** 2):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
total = 0
for i in range(1, 101):
    total = total + i
    print(total)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775
2850
2926
3003
3081
3160
3240
3321
3403
3486
3570
3655
3741
3828
3916
4005
4095
4186
4278
4371
4465
4560
4656
4753
4851
4950
5050

In [11]:
list1 = [543,342,6,435,543]
str1 = "osadifh546rdgd"

for val in list1:
    print(val)

for string in str1:
    print(string, string == "k")

543
342
6
435
543
o False
s False
a False
d False
i False
f False
h False
5 False
4 False
6 False
r False
d False
g False
d False

In [12]:
total = 0
for i in range(1, 101, 2):
    total = total + i
    print(i, total)

1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

## More on Range

In [2]:
# creates a list by appending values to the list
list1 = []
for i in range(0,9,2):
    print(i)
    list1.append(i)

print(list1)

0
2
4
6
8
[0, 2, 4, 6, 8]

In [3]:
# creates a list by passing range i, j, l
list2 = list(range(0,9,4))
list2

[0, 4, 8]

## Using len() with range

In [4]:
list2_len = len(list2)
for i in range(list2_len):
    print(i, list2[i])

0 0
1 4
2 8

## Nested For-Loop

In [9]:
print("i","list")

for interval in range(1, 5):
    list2 = list(range(0,9, interval))
    print(interval, list2)
    list2_len = len(list2)
    print("length", list2_len)
    print("j", "val")
    for j in range(list2_len):
        print(j, list2[j])

i list
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length 3
j val
0 0
1 4
2 8

## If Statements and Boolean Variables

In [10]:
True

True

In [11]:
False

False

In [12]:
True * False

0

In [13]:
True * True

1

In [16]:
boolean = True
if boolean:
    print(boolean)

boolean2 = False
if boolean2 == False:
    print(boolean2)
    print("if boolean2 is false, then you just printed this text. If not, nothing happened")

True
False
if boolean2 is false, then you just printed this text. If not, nothing happened